.body_backgorund {
    background-image: url("/lienzo5.jpeg");
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(0, 0, 0); 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(131, 255, 255); 
      border-style:ridge;
  }

  button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
